<aside class="sidebar">
  <h6 class="sidebar-title">MIS CUENTAS</h6>
  <div
    *ngFor="let card of dataCards"
    class="card"
    [class]="{
      'card-active': card.estado === 'activa',
      'card-disabled': card.estado === 'desactivada'
    }"
  >
    <strong>${{ card.saldo }}.00</strong>
    <h5>{{ card.estado }}</h5>
    <h4>{{ card.tarjeta }}</h4>
    <p>{{ card.nombre }}</p>
    <p>{{ card.tipo }}</p>
    <img src="assets/mastercard.png" alt="Logo mastercard" class="card-logo" />
  </div>
  <div class="card add-card" (click)="openLg(content)">
    <p>AGREGAR TARJETA</p>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <div class="title-header-modal">
        <img src="assets/logo.png" alt="Logo de banking" width="100px" />
        <h4 class="modal-title" id="modal-basic-title">Agregar tarjeta</h4>
      </div>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="saveForm()">
        <div class="row">
          <div class="col-md-12 col-12 mb-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Número de tarjeta"
                formControlName="cardNumber"
              />
            </div>
          </div>
          <div class="col-md-6 col-12 mb-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Cuenta"
                formControlName="count"
              />
            </div>
          </div>
          <div class="col-md-6 col-12 mb-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Issuer"
                formControlName="issuer"
              />
            </div>
          </div>
          <div class="col-md-12 col-12 mb-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Nombre de la tarjeta"
                formControlName="cardName"
              />
            </div>
          </div>
          <div class="col-md-12 col-12 mb-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Marca"
                formControlName="mark"
              />
            </div>
          </div>
          <div class="col-md-12 col-12 mb-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Estatus"
                formControlName="status"
              />
            </div>
          </div>
          <div class="col-md-12 col-12 mb-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Saldo"
                formControlName="balance"
              />
            </div>
          </div>
          <div class="col-md-12 col-12 mb-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Tipo de cuenta"
                formControlName="kindOfCount"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer justify-content-center">
      <button
        type="button"
        class="btn btn-dark btn-lg"
        (click)="modal.close('Save click')"
      >
        Cancelar
      </button>
      <button 
        type="submit" 
        class="btn btn-success btn-lg"
        (click)="saveForm()"
      >
        Agregar tarjeta
      </button>
    </div>
  </ng-template>
</aside>
