.sidebar {
    margin: 0;
    padding: 0;
    width: 360px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar-title{
    margin-top: 20px;
    margin-left: 20px;
    display: block;
  }
  
  .card{
    width: 320px;
    color: white;
    border-radius: 5px;
    line-height: .2rem;
    margin: 25px 0;
    margin-left: 20px;
    padding: 15px 10px 20px 10px;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .card-active{
    background-color: #07BE92;
  }

  .card-disabled{
    background-color: #A1E2D2;
  }

  .card strong{
    display: block;
    text-align: end;
    font-weight: bold;
  }

  .card-logo{
    width: 40px;
    text-align: end;
    margin-left: 85%;
  }

  .add-card{
    border: dashed #07BE92 3px;
    background-color: white;
    color: #07BE92;
    text-align: center;
    cursor: pointer;
  }
  .add-card p{
    margin-top: 15px;
  }

  .btn-success{
    background-color: #07BE92;
    margin-left: 10px;
  }

  .btn-dark{
    background-color: #F5F5F5;
    color: #4B4B4B;
    margin-right: 10px;
  }

  .title-header-modal{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 30px;
    color: #4B4B4B;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar div {float: left;}
  }
  