<header class="navbar">
    <ul class="navbar-container">
        <li class="nav__branding">
            <img class="nav__branding--logo" src="assets/logo.png" alt="Logo de Bankapp">
            <p class="nav__branding--text">Powered by conecta</p>
        </li>
        <li class="nav navbar__active">
            <a href="#" class="nav--tab success-text">Mis cuentas</a></li>
        <li class="nav" >
            <a href="#" class="nav--tab navbar__disabled">Enviar dinero</a>
        </li>
    </ul>
    <ul class="navbar-container navbar--user">
        <li class="navbar__name">Octavio Martinez</li>
        <li class="navbar__date">Ultimo inicio de 18/07/2019</li>
    </ul>
</header>
